<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Ispairs:</strong>
  <%= @tournament.ispairs %>
</p>

<p>
  <strong>Players number:</strong>
  <%= @tournament.players_number %>
</p>

<p>
  <strong>Signup limit date:</strong>
  <%= @tournament.signup_limit_date %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @tournament.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @tournament.end_date %>
</p>

<h2>Candidatos:</h2>
<p>
  <% @tournament.candidates.each do |candidate| %>
    <%= candidate.name%>  <%= candidate.email%> 
    <%  if candidate.is_signup%> 
      Apuntado 
    <% else %> 
        <% if candidate.cancel%> 
          Rechazado 
        <%else%>  
          Pendiente
        <%end%>
    <%end%>   
    <br/>
  <% end %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
