<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Is send:</strong>
  <%= @candidate.is_send %>
</p>

<p>
  <strong>Is signup:</strong>
  <%= @candidate.is_signup %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @candidate.tournament_id %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
